# Example Redshift Queries on the Sparkify Dataset

This notebook contains some example queries on the Sparkify dataset using Redshift.

* The database is loaded and queried using the iPython notebook magic command `%load_ext` and `%sql`

In [1]:
import configparser
import pandas as pd
import boto3

In [2]:
%load_ext sql

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DB_NAME= config.get("CLUSTER","DB_NAME")
DB_USER= config.get("CLUSTER","DB_USER")
DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")
CLUSTER_IDENTIFIER = config.get('CLUSTER', 'CLUSTER_IDENTIFIER')
schema = config.get('CLUSTER', 'SCHEMA').lower()
set_schema="""SET search_path TO {};""".format(schema)

redshift = boto3.client('redshift',
                   region_name="us-west-2",
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET
                   )

clusterProps = redshift.describe_clusters(ClusterIdentifier=CLUSTER_IDENTIFIER)['Clusters'][0]
ENDPOINT = clusterProps['Endpoint']['Address']
ROLE_ARN = clusterProps['IamRoles'][0]['IamRoleArn']

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, ENDPOINT, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://redshift_user:R3dSh1ftDBPa55@redshift-cluster.cdl3qx57btxr.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: redshift_user@dev'

### A quick check that the `songs` table is loaded.

In [5]:
query = set_schema + """SELECT * FROM dimSong LIMIT 5;"""
%sql $query

 * postgresql://redshift_user:***@redshift-cluster.cdl3qx57btxr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
5 rows affected.

[('SOXSDSB12A6701E01F', "If You Don't Know By Now", 'AR00B1I1187FB433EB', 2003, 304.3522),
 ('SONHPYP12A8C1417AE', 'One Good Reason', 'AR00B1I1187FB433EB', 2000, 207.15057),
 ('SOOXNEG12AC3DF9E14', 'Doubledecker', 'AR00DG71187B9B7FCB', 2009, 300.09424),
 ('SOSIUCT12AB0182323', 'Conversación Casual', 'AR00FVC1187FB5BE3E', 0, 225.82812),
 ('SOLPTCL12AB0181839', 'Lascivamente', 'AR00FVC1187FB5BE3E', 0, 207.59465)]

In [6]:
query = set_schema + """SELECT count(*) FROM dimSong
LIMIT 5;""".format(schema)
%sql $query

 * postgresql://redshift_user:***@redshift-cluster.cdl3qx57btxr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
1 rows affected.

[(14896,)]

### Query: How many hours of 'Gwen Stefani' songs are there in the database?

In [7]:
query = set_schema + """
SELECT a.a_name, SUM(s.s_duration)
FROM (dimSong s JOIN dimArtist a ON s.s_artist_id=a.a_artist_id)
WHERE a.a_name='Gwen Stefani'
GROUP BY a.a_name
"""
%sql $query

 * postgresql://redshift_user:***@redshift-cluster.cdl3qx57btxr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
1 rows affected.

[('Gwen Stefani', 290.55955)]

### Query: What songs from the year 2000 are there in the database?

In [8]:
query = set_schema + """
SELECT s.s_title, a.a_name, s.s_year
FROM (dimSong s JOIN dimArtist a ON s.s_artist_id=a.a_artist_id)
WHERE s.s_year=2000
ORDER BY a.a_name
LIMIT 10;
"""
%sql $query

 * postgresql://redshift_user:***@redshift-cluster.cdl3qx57btxr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
10 rows affected.

[('3 Minutes', "2 Skinnee J's", 2000),
 ('Heaven And Earth', '2002', 2000),
 ("Lovers' Bridge", '2002', 2000),
 ("I Can't Take It (No More)", '3LW featuring Nas', 2000),
 ('Simpler Days', '98 Mute', 2000),
 ('Send In The Clowns', '98 Mute', 2000),
 ("He'll Never Be... (What I Used To Be To You)", '98º', 2000),
 ('My Own Chapter', 'Aaron Sprinkle', 2000),
 ('Trail Blazer (Nashville Version)', 'Acoustic Alchemy', 2000),
 ('Dinkas When I Close My Eyes', 'Against All Authority', 2000)]